/*Cofe-menu-page css */
*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins,sans-serif;
    font-size: 18px;
 }
body {
   font-family: Arial, sans-serif;
   background-color: #eed78c;
}

h1{
   font-family: 'Sacramento', cursive;
}

h2{
   font-family: 'Montserrat', sans-serif;
   /* font-size: 2.5rem; */
}

h3{
   font-family: 'Montserrat', sans-serif;
   margin: .9375rem;
}

h5{
   font-family: 'Montserrat', sans-serif;
}
 body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #eed78c;
 }
 header {
    margin-bottom: 30px;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4e2210;
    box-shadow: 0 0 .625rem rgba(0, 0, 0, 0.1);
 }
 .cafe-name{
    color:white;
    display: inline;
    position: absolute;
    top: 17px;
 }
 footer {
    display: flex;
    flex-wrap: wrap;
    padding: 1.25rem;
    background-color: #222;
    color: #fff;
 }
 
 .social-share {
    display: flex;
    justify-content: center;
    margin: 1.25rem;
 }
 
 .social-icon {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 .3125rem;
    border-radius: 50%;
    background-color: #222;
    color: #fff;
    font-size: 1.25rem;
    line-height: 2.5rem;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
 }
 
 .social-icon img {
    margin-top: .3125rem;
    width: 1.875rem;
    height: 1.875rem;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
 }
 .social-icon:hover {
    transform: scale(1.2);
 }
 
 .contact-info {
    flex: 1;
    margin: 1.25rem;
 }
 
 .contact-info p {
    font-size: 1.125rem;
    margin-bottom: .625rem;
 }
 
 .contact-info a {
    color: #fff;
    text-decoration: none;
 }
 
 .contact-info a:hover {
    color: #ccc;
 }
 .menu-category p{
    display: inline-block;
 }
 .left .price{
    float: right;
    padding-right: .625rem;
 }
 .left{
    text-align: left;
 }
 .right .price{
    float: left;
    padding-left: .625rem;
 }
 .left img{
    width:9.375rem;
    float: left;
    margin: .93375rem;
 }
 .right{text-align: right;}
 .right img{
    width:9.375rem;
    float: right;
    margin: .9375rem;
 }
 .item{
    width: 65%;
    margin:.625rem;
    background-color: #22222218;
    border-radius: 50%;
 }
 .menu-category{
    width:100%;
 }
 .menu-container{
    display: grid;
    grid-row: 1fr 1fr 1fr;
    grid-template-columns: 1f 2fr 1fr;
 }
 
 .cafe-logo{
    width:35%;
    float: left;
    position: relative;
    bottom: .625rem;
 }
 
 nav ul {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
 }
 
 nav li {
    float: right;
 }
 
 nav a {
    text-decoration: none;
    color: #CC9544;
    font-weight: bold;
    padding: 31px 1.25rem;
    display: block;
   text-align: center;
 }
 .active{
    background-color: #2e1409;
 }
 li a:hover {
    background-color: #2e1409;
 }
 .header{
    width: 100%;
    height: 80px;
    background-color: goldenrod;
    border-radius: 3px;
    display: flex;
    margin: 30px 0px;
    align-items:center;
    justify-content: space-between;
    padding: 15px;
 }
 .header .logo{
    font-size: 30px;
    font-weight:bold;
    color: white;
 }
 .card{
    margin-right: 20px;
    display: flex;
    background-color:white;
    justify-content: space-between;
    align-items:center;
    padding: 7px 10px;
    border-radius:3px;
    width: 80px;
 }
 .fa-solid{
    color: goldenrod;
 }
 .card p{
    height: 22px;
    width: 22px;
    display: flex;
    align-items:center;
    justify-content: center;
    border-radius: 22px;
    background-color:goldenrod;
    color:white;
 }
 .container{
    display: flex;
    width: 70%;
    margin-bottom: 30px;
 }
 #root{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:20px;
 }
 .sidebar{
    width: 40%;
    border-radius:5px;
   background-color:lightgray;
   margin-left: 20px;
   padding: 15px;
   text-align: center;
 }
 .head{
    background-color:goldenrod;
    border-radius:3px;
    height: 40px;
    padding:10px;
    margin-bottom: 20px;
    color:white;
    display: flex;
    align-items:center;
 }
 .foot{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid #333;
 }
 .box{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    border: 1px solid goldenrod;
    border-radius: 5px;
    padding: 15px;
   
 }
 .img-box{
    width: 100%;
    height: 180px;
    display: flex;
    align-items:center;
    justify-content: center;
 }
 .images{
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
    object-position: center;
 }
 .button{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    height: 110px;
 
 }
 h2{
    font-size: 20px;
    color:red;
 
 }
 button{
    width: 100%;
    position: relative;
    top: -8px;   /*-6px */
    border:none;
    border-radius:5px;
    background-color:goldenrod;
    padding: 7px 25px;
    cursor: pointer;
    color:white;
 }
 button:hover{
    background-color: #333;
 }
 .cart-item{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 10px;
    background-color:white;
    border: 1px solid #aaa;
    border-radius:3px;
    margin: 10px 10px;
    
 }
 .row-img{
    width: 50px;
    height: 50px;
    border: 1px solid goldenrod;
    border-radius:50px;
    display: flex;
    align-items:center;
    justify-content: center;
 }
 .rowimg{
    max-width: 43px;
    max-height: 43px;
    border-radius:50%;
   
 }
 path{
    color:goldenrod;
    background-color:blue;
 
 }
 path:hover{
    color: #333;
 }
 /* .fa-trash:hover{
    cursor:pointer;
    color: #333;
 } */
 